# Rental Dataset

Using a dataset from streeteast containing the rental information for 5000 NYC apartments, I will be conducting EDA on the data to see what further information we can find out from this data. From my limited knowledge about NYC, the apartments are more expensive in areas such as Manhattan and Brooklyn and as you move further out, it gets cheaper, for example rental listings in Staten Island will generally be cheaper than those in the Upper East Side.  

The data for this analysis is from streeteasy provided by codecademy as part of their statistics with python YouTube series.

## Import Relevant Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# printing out the version of pandas used for this analysis
print(pd.__version__)

1.2.1

## Get Data

In [3]:
rental_df = pd.read_csv("https://raw.githubusercontent.com/Codecademy/datasets/master/streeteasy/streeteasy.csv")

## Get a feel for the data

In [4]:
rental_df.head()

,rental_id,building_id,rent,bedrooms,bathrooms,size_sqft,min_to_subway,floor,building_age_yrs,no_fee,has_roofdeck,has_washer_dryer,has_doorman,has_elevator,has_dishwasher,has_patio,has_gym,neighborhood,submarket,borough
0,1545,44518357,2550,0.0,1,480,9,2.0,17,1,1,0,0,1,1,0,1,Upper East Side,All Upper East Side,Manhattan
1,2472,94441623,11500,2.0,2,2000,4,1.0,96,0,0,0,0,0,0,0,0,Greenwich Village,All Downtown,Manhattan
2,10234,87632265,3000,3.0,1,1000,4,1.0,106,0,0,0,0,0,0,0,0,Astoria,Northwest Queens,Queens
3,2919,76909719,4500,1.0,1,916,2,51.0,29,0,1,0,1,1,1,0,0,Midtown,All Midtown,Manhattan
4,2790,92953520,4795,1.0,1,975,3,8.0,31,0,0,0,1,1,1,0,1,Greenwich Village,All Downtown,Manhattan

In [5]:
rental_df.tail()

,rental_id,building_id,rent,bedrooms,bathrooms,size_sqft,min_to_subway,floor,building_age_yrs,no_fee,has_roofdeck,has_washer_dryer,has_doorman,has_elevator,has_dishwasher,has_patio,has_gym,neighborhood,submarket,borough
4995,1964,73060494,2650,1.0,1,686,9,4.0,3,1,0,0,0,0,0,0,0,Astoria,Northwest Queens,Queens
4996,5686,92994390,6675,2.0,2,988,5,10.0,9,1,1,1,1,1,1,0,1,Tribeca,All Downtown,Manhattan
4997,9679,7689663,1699,0.0,1,250,2,5.0,96,0,0,0,0,0,0,0,0,Little Italy,All Downtown,Manhattan
4998,5188,62828354,3475,1.0,1,651,6,5.0,14,1,0,1,1,1,1,0,1,Midtown West,All Midtown,Manhattan
4999,4718,67659586,4500,1.0,1,816,4,11.0,9,0,1,1,1,1,0,1,1,Tribeca,All Downtown,Manhattan

In [6]:
rental_df.sample(5)

,rental_id,building_id,rent,bedrooms,bathrooms,size_sqft,min_to_subway,floor,building_age_yrs,no_fee,has_roofdeck,has_washer_dryer,has_doorman,has_elevator,has_dishwasher,has_patio,has_gym,neighborhood,submarket,borough
359,5068,91440509,4375,1.0,1,668,2,23.0,16,1,0,1,0,0,0,0,0,Flatiron,All Downtown,Manhattan
4493,7005,18571210,3450,0.0,1,550,4,37.0,12,1,0,0,0,0,0,0,0,Midtown South,All Midtown,Manhattan
4929,7021,46978418,6900,4.0,2,1600,4,7.0,33,0,1,0,0,1,0,0,1,Midtown East,All Midtown,Manhattan
4297,1663,92494052,4167,1.0,2,726,5,12.0,52,1,0,0,0,0,0,0,0,Upper East Side,All Upper East Side,Manhattan
1660,10877,63857454,4090,1.0,1,710,3,29.0,15,1,0,0,0,0,0,0,0,Financial District,All Downtown,Manhattan

This NYC rental data from streeteasy did not come with a README file or a document explaining the various columns, though most of the information is straightforward and can be easily looked up therefore a lack of background knowledge should not be an issue in conducting this analysis. 

From what I can see above (by viewing the top 5 rows, bottom 5 rows and a random sample of 5 rows from within the dataframe) the data seems to be structured and organized. A number of the columns such as `has_doorman`, `no_fee`,  and `has_gym` the values have been encoded using a one hot encoding scheme, this created a binary column for all these categories/features. With this in mind, one can assume that 1 = yes and 0 = no, using boolean logic of True = 1 and False = 0

In [7]:
rental_df.shape

(5000, 20)

In [8]:
list(rental_df.columns)

['rental_id',
 'building_id',
 'rent',
 'bedrooms',
 'bathrooms',
 'size_sqft',
 'min_to_subway',
 'floor',
 'building_age_yrs',
 'no_fee',
 'has_roofdeck',
 'has_washer_dryer',
 'has_doorman',
 'has_elevator',
 'has_dishwasher',
 'has_patio',
 'has_gym',
 'neighborhood',
 'submarket',
 'borough']

This dataframe contains information about 5000 rental units, along with 20 columns.

In [9]:
rental_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rental_id         5000 non-null   int64
 1   building_id       5000 non-null   int64
 2   rent              5000 non-null   int64
 3   bedrooms          5000 non-null   float64
 4   bathrooms         5000 non-null   int64
 5   size_sqft         5000 non-null   int64
 6   min_to_subway     5000 non-null   int64
 7   floor             5000 non-null   float64
 8   building_age_yrs  5000 non-null   int64
 9   no_fee            5000 non-null   int64
 10  has_roofdeck      5000 non-null   int64
 11  has_washer_dryer  5000 non-null   int64
 12  has_doorman       5000 non-null   int64
 13  has_elevator      5000 non-null   int64
 14  has_dishwasher    5000 non-null   int64
 15  has_patio         5000 non-null   int64
 16  has_gym           5000 non-null   int64
 17  neighborhood      5000 non-null   object
 18  submarket         5000 non-null   object
 19  borough           5000 non-null   object
dtypes: float64(2), int64(15), object(3)
memory usage: 781.4+ KB

As we can see from the cell above, the dataframe has no missing values (though I'll be verifying that later), and all of the binary columns are being read by pandas as integer values.

## Binary Columns

The columns encoded using a one-hot encoding scheme (or the columns with binary values) will be changed to `yes` and `no` in order to make the analysis a bit easier and to ensure that their type changes to a string value (object)

Just by looking at the top 5 rows in the dataframe, I would be able to tell which columns are binary and which aren't but just for my sanity and for simplicity I will be going through the unique values in all 20 columns in order to determine which are binary

In [10]:
rental_df.columns

Index(['rental_id', 'building_id', 'rent', 'bedrooms', 'bathrooms',
       'size_sqft', 'min_to_subway', 'floor', 'building_age_yrs', 'no_fee',
       'has_roofdeck', 'has_washer_dryer', 'has_doorman', 'has_elevator',
       'has_dishwasher', 'has_patio', 'has_gym', 'neighborhood', 'submarket',
       'borough'],
      dtype='object')

In [11]:
print(rental_df.rental_id.nunique())
print(rental_df.rental_id.unique())

5000
[ 1545  2472 10234 ...  9679  5188  4718]

In [12]:
print(rental_df.building_id.nunique())
print(rental_df.building_id.unique())

2315
[44518357 94441623 87632265 ... 86914672 20773991 35251179]

In [13]:
print(rental_df.rent.nunique())
print(rental_df.rent.unique())

1016
[ 2550 11500  3000 ...  6755  4210  6675]

In [14]:
print(rental_df.bedrooms.nunique())
print(rental_df.bedrooms.unique())

11
[0.  2.  3.  1.  0.5 2.5 4.  5.  1.5 3.5 4.5]

In [15]:
print(rental_df.bathrooms.nunique())
print(rental_df.bathrooms.unique())

6
[1 2 0 3 4 5]

In [16]:
print(rental_df.size_sqft.nunique())
print(rental_df.size_sqft.unique())

1113
[ 480 2000 1000 ... 1193 2470  816]

In [17]:
print(rental_df.min_to_subway.nunique())
print(rental_df.min_to_subway.unique())

24
[ 9  4  2  3  1  6  0  5 43  7 10 11 12  8 13 14 27 18 15 16 17 37 20 51]

In [18]:
print(rental_df.floor.nunique())
print(rental_df.floor.unique())

67
[ 2.   1.  51.   8.   3.   4.   7.   5.   9.  21.  30.  17.  14.  40.
 15.  12.  22.  26.   6.  19.  46.  24.  36.  10.  27.  25.  11.  16.
 28.  29.  38.  18.  43.  34.  23.  13.  32.  20.  33.  37.  55.  35.
  1.5 45.  58.  54.  31.  39.  53.  41.  42.  50.  47.  56.  83.  44.
 66.  64.  68.  81.  48.  52.  62.  49.   0.  57.   6.5]

In [19]:
print(rental_df.building_age_yrs.nunique())
print(rental_df.building_age_yrs.unique())

130
[ 17  96 106  29  31  15  83 136   3 101   8 115  33   2  14  88  39  52
  11  89  85 111   7  20  10   9  56  65  44   5  27   6 116  75  13  87
  57  91 105  16  86  30 112  25  47  28  90  42  43   0  66 102  76  58
 113  37   4  60  32  54 109 151  61  12 126  41   1  38  92  19  62  71
  55  53  80 100  93  99  51  64  68 108 132  34 107  46  18  98 117  84
  26  81  79  94 103  21  50 110  59  22  95 180  63 104  24  36  48 118
  69  35 157 156 124 114  45 122 120  70  78 121 143  77  74  49  67 146
  40  82 131 174]

In [20]:
print(rental_df.no_fee.nunique())
print(rental_df.no_fee.unique())

2
[1 0]

In [21]:
print(rental_df.has_roofdeck.nunique())
print(rental_df.has_roofdeck.unique())

2
[1 0]

In [22]:
print(rental_df.has_washer_dryer.nunique())
print(rental_df.has_washer_dryer.unique())

2
[0 1]

In [23]:
print(rental_df.has_doorman.nunique())
print(rental_df.has_doorman.unique())

2
[0 1]

In [24]:
print(rental_df.has_elevator.nunique())
print(rental_df.has_elevator.unique())

2
[1 0]

In [25]:
print(rental_df.has_dishwasher.nunique())
print(rental_df.has_dishwasher.unique())

2
[1 0]

In [26]:
print(rental_df.has_patio.nunique())
print(rental_df.has_patio.unique())

2
[0 1]

In [27]:
print(rental_df.has_gym.nunique())
print(rental_df.has_gym.unique())

2
[1 0]

In [28]:
print(rental_df.neighborhood.nunique())
print(rental_df.neighborhood.unique())

93
['Upper East Side' 'Greenwich Village' 'Astoria' 'Midtown' 'Williamsburg'
 'Forest Hills' 'Soho' 'Central Harlem' 'Greenwood' 'Midtown East'
 'Battery Park City' 'Gowanus' 'Flatiron' 'Brooklyn Heights'
 'East Village' 'Midtown West' 'Upper West Side' 'Briarwood'
 'Lower East Side' 'Tribeca' 'Clinton Hill' 'Gramercy Park' 'Rego Park'
 'East Harlem' 'Boerum Hill' 'Park Slope' 'West Village' 'Sheepshead Bay'
 'Central Park South' 'Long Island City' 'Chelsea' 'Financial District'
 'Inwood' 'Carroll Gardens' 'Midtown South' 'Red Hook' 'Fort Greene'
 'Washington Heights' 'Downtown Brooklyn' 'Crown Heights' 'Chinatown'
 'Sunnyside' 'Prospect Park South' 'Roosevelt Island'
 'Columbia St Waterfront District' 'Jackson Heights' 'Greenpoint'
 'Hamilton Heights' 'Kensington' 'Bushwick' 'Kew Gardens' 'Elmhurst'
 'Brighton Beach' 'Kew Gardens Hills' 'Corona' 'Prospect Heights'
 'Stuyvesant Town/PCV' 'Richmond Hill' 'Bedford-Stuyvesant' 'Bay Ridge'
 'Flatbush' 'DUMBO' 'Jamaica Estates' 'Brownsville' 'Gravesend'
 'Queens Village' 'Coney Island' 'Woodhaven' 'Ridgewood'
 'Morningside Heights' 'Flushing' 'Windsor Terrace' 'Little Italy'
 'Cobble Hill' 'Ocean Parkway' 'Prospect Lefferts Gardens' 'Sunset Park'
 'Ditmas Park' 'Woodside' 'Manhattan Beach' 'Nolita' 'Dyker Heights'
 'West Harlem' 'Glendale' 'Midwood' 'East Flatbush' 'South Richmond Hill'
 'Rockaway All' 'Jamaica Hills' 'North Corona' 'Manhattanville'
 'Oakland Gardens' 'East New York']

In [29]:
print(rental_df.submarket.nunique())
print(rental_df.submarket.unique())

15
['All Upper East Side' 'All Downtown' 'Northwest Queens' 'All Midtown'
 'North Brooklyn' 'Central Queens' 'All Upper Manhattan' 'South Brooklyn'
 'Northwest Brooklyn' 'All Upper West Side' 'Northeast Queens'
 'Prospect Park' 'East Brooklyn' 'South Queens' 'The Rockaways']

In [30]:
print(rental_df.borough.nunique())
print(rental_df.borough.unique())

3
['Manhattan' 'Queens' 'Brooklyn']

There are 8 binary columns and the next cell will see a change in their values from 1/0 to yes/no

In [31]:
# visualizing the binary columns before changing them
rental_df.sample(10)

,rental_id,building_id,rent,bedrooms,bathrooms,size_sqft,min_to_subway,floor,building_age_yrs,no_fee,has_roofdeck,has_washer_dryer,has_doorman,has_elevator,has_dishwasher,has_patio,has_gym,neighborhood,submarket,borough
1541,6326,5966829,2570,2.0,1,950,5,8.0,6,1,0,0,0,0,1,0,0,Flatbush,South Brooklyn,Brooklyn
1851,1458,85066873,5395,1.0,1,747,3,27.0,6,1,0,0,0,0,0,0,0,Chelsea,All Downtown,Manhattan
134,960,18700626,2995,1.0,1,350,1,5.0,116,0,0,0,0,0,0,0,0,West Village,All Downtown,Manhattan
2969,1242,81656949,4000,3.0,1,700,5,4.0,96,0,1,1,0,0,1,0,0,Upper West Side,All Upper West Side,Manhattan
3014,1731,61396455,2300,1.0,1,535,3,1.0,106,0,0,0,0,0,0,0,0,Lower East Side,All Downtown,Manhattan
558,1331,58656833,3845,1.0,1,841,5,4.0,17,1,0,0,0,0,0,0,0,Upper West Side,All Upper West Side,Manhattan
3632,9551,58057132,3300,4.0,2,1000,8,2.0,85,1,0,0,0,0,0,0,0,Crown Heights,East Brooklyn,Brooklyn
1032,8197,59414256,3350,0.0,1,644,1,24.0,88,0,0,0,0,1,1,0,1,Financial District,All Downtown,Manhattan
3439,3231,67185819,3100,1.0,1,610,2,8.0,30,0,0,0,0,0,0,0,0,Upper East Side,All Upper East Side,Manhattan
3748,6954,57495619,1700,0.0,1,566,6,12.0,57,1,0,0,0,0,0,0,0,Rego Park,Central Queens,Queens

In [32]:
rental_df['no_fee'] = rental_df['no_fee'].map({1:"yes", 0:"no"})

In [33]:
rental_df['has_roofdeck'] = rental_df['has_roofdeck'].map({1:"yes", 0:"no"})

In [34]:
rental_df['has_washer_dryer'] = rental_df['has_washer_dryer'].map({1:"yes", 0:"no"})

In [35]:
rental_df['has_doorman'] = rental_df['has_doorman'].map({1:"yes", 0:"no"})

In [36]:
rental_df['has_elevator'] = rental_df['has_elevator'].map({1:"yes", 0:"no"})

In [37]:
rental_df['has_dishwasher'] = rental_df['has_dishwasher'].map({1:"yes", 0:"no"})

In [38]:
rental_df['has_patio'] = rental_df['has_patio'].map({1:"yes", 0:"no"})

In [39]:
rental_df['has_gym'] = rental_df['has_gym'].map({1:"yes", 0:"no"})

As a way to check that the cells above ran without any issues, I'll be calling the `.head()`, `.sample()`, and `.tail()` functions again.

In [40]:
rental_df.head()

,rental_id,building_id,rent,bedrooms,bathrooms,size_sqft,min_to_subway,floor,building_age_yrs,no_fee,has_roofdeck,has_washer_dryer,has_doorman,has_elevator,has_dishwasher,has_patio,has_gym,neighborhood,submarket,borough
0,1545,44518357,2550,0.0,1,480,9,2.0,17,yes,yes,no,no,yes,yes,no,yes,Upper East Side,All Upper East Side,Manhattan
1,2472,94441623,11500,2.0,2,2000,4,1.0,96,no,no,no,no,no,no,no,no,Greenwich Village,All Downtown,Manhattan
2,10234,87632265,3000,3.0,1,1000,4,1.0,106,no,no,no,no,no,no,no,no,Astoria,Northwest Queens,Queens
3,2919,76909719,4500,1.0,1,916,2,51.0,29,no,yes,no,yes,yes,yes,no,no,Midtown,All Midtown,Manhattan
4,2790,92953520,4795,1.0,1,975,3,8.0,31,no,no,no,yes,yes,yes,no,yes,Greenwich Village,All Downtown,Manhattan

In [41]:
rental_df.sample(10)

,rental_id,building_id,rent,bedrooms,bathrooms,size_sqft,min_to_subway,floor,building_age_yrs,no_fee,has_roofdeck,has_washer_dryer,has_doorman,has_elevator,has_dishwasher,has_patio,has_gym,neighborhood,submarket,borough
2764,2796,24878058,3000,1.0,1,600,5,2.0,116,no,yes,no,yes,yes,no,no,yes,Upper West Side,All Upper West Side,Manhattan
3902,8076,18710634,6000,1.0,1,1200,1,6.0,106,no,yes,no,no,yes,no,no,yes,Soho,All Downtown,Manhattan
3887,4520,18615033,2995,0.0,1,500,6,11.0,58,yes,no,no,no,no,no,no,no,Upper West Side,All Upper West Side,Manhattan
2609,9797,18842960,2769,2.0,1,900,4,1.0,86,yes,no,no,no,no,no,no,no,Williamsburg,North Brooklyn,Brooklyn
3364,3335,13290871,6495,2.0,1,950,3,1.0,116,yes,no,no,no,no,no,no,no,East Village,All Downtown,Manhattan
1388,5741,18291386,3395,0.0,1,474,4,15.0,11,yes,no,no,yes,yes,no,no,no,Upper West Side,All Upper West Side,Manhattan
1091,6324,7300021,3400,1.0,1,700,1,3.0,15,yes,yes,no,yes,yes,no,no,yes,Midtown West,All Midtown,Manhattan
367,3751,61805400,7500,3.0,2,1425,3,6.0,54,no,no,no,no,no,no,no,no,Upper East Side,All Upper East Side,Manhattan
567,6209,29350625,7650,1.0,1,900,1,9.0,11,no,no,no,no,no,no,no,no,Midtown,All Midtown,Manhattan
2694,10620,64789123,2695,1.0,1,650,2,1.0,56,no,no,no,no,no,no,no,no,Upper East Side,All Upper East Side,Manhattan

In [42]:
rental_df.tail()

,rental_id,building_id,rent,bedrooms,bathrooms,size_sqft,min_to_subway,floor,building_age_yrs,no_fee,has_roofdeck,has_washer_dryer,has_doorman,has_elevator,has_dishwasher,has_patio,has_gym,neighborhood,submarket,borough
4995,1964,73060494,2650,1.0,1,686,9,4.0,3,yes,no,no,no,no,no,no,no,Astoria,Northwest Queens,Queens
4996,5686,92994390,6675,2.0,2,988,5,10.0,9,yes,yes,yes,yes,yes,yes,no,yes,Tribeca,All Downtown,Manhattan
4997,9679,7689663,1699,0.0,1,250,2,5.0,96,no,no,no,no,no,no,no,no,Little Italy,All Downtown,Manhattan
4998,5188,62828354,3475,1.0,1,651,6,5.0,14,yes,no,yes,yes,yes,yes,no,yes,Midtown West,All Midtown,Manhattan
4999,4718,67659586,4500,1.0,1,816,4,11.0,9,no,yes,yes,yes,yes,no,yes,yes,Tribeca,All Downtown,Manhattan

In [43]:
rental_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rental_id         5000 non-null   int64
 1   building_id       5000 non-null   int64
 2   rent              5000 non-null   int64
 3   bedrooms          5000 non-null   float64
 4   bathrooms         5000 non-null   int64
 5   size_sqft         5000 non-null   int64
 6   min_to_subway     5000 non-null   int64
 7   floor             5000 non-null   float64
 8   building_age_yrs  5000 non-null   int64
 9   no_fee            5000 non-null   object
 10  has_roofdeck      5000 non-null   object
 11  has_washer_dryer  5000 non-null   object
 12  has_doorman       5000 non-null   object
 13  has_elevator      5000 non-null   object
 14  has_dishwasher    5000 non-null   object
 15  has_patio         5000 non-null   object
 16  has_gym           5000 non-null   object
 17  neighborhood      5000 non-null   object
 18  submarket         5000 non-null   object
 19  borough           5000 non-null   object
dtypes: float64(2), int64(7), object(11)
memory usage: 781.4+ KB

All the binary columns have been modified and now we can see that the columns marked as int or float seem appropriate for the time being

## Statistical view

In [46]:
rental_df.describe(include = "all")

,rental_id,building_id,rent,bedrooms,bathrooms,size_sqft,min_to_subway,floor,building_age_yrs,no_fee,has_roofdeck,has_washer_dryer,has_doorman,has_elevator,has_dishwasher,has_patio,has_gym,neighborhood,submarket,borough
count,5000.000000,5.000000e+03,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000,5000,5000,5000,5000,5000,5000,5000,5000,5000,5000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,2,2,2,2,93,15,3
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,no,no,no,no,no,no,no,Upper West Side,All Downtown,Manhattan
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2852,4357,4331,3860,3800,4222,4772,4281,579,1229,3539
mean,5526.909400,5.122007e+07,4536.920800,1.395700,1.321600,920.101400,5.079200,10.190200,52.093200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,3263.692417,2.802283e+07,2929.838953,0.961018,0.565542,440.150464,5.268897,10.565361,40.224501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,7.107000e+03,1250.000000,0.000000,0.000000,250.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,2699.750000,2.699811e+07,2750.000000,1.000000,1.000000,633.000000,2.000000,3.000000,12.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,5456.500000,5.069894e+07,3600.000000,1.000000,1.000000,800.000000,4.000000,6.000000,44.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,8306.000000,7.572064e+07,5200.000000,2.000000,2.000000,1094.000000,6.000000,14.000000,89.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,11349.000000,9.998721e+07,20000.000000,5.000000,5.000000,4800.000000,51.000000,83.000000,180.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Moving forward and in future notebooks, the `rental_id` and the `building_id` need to be looked into, perhaps they can be dropped if they're simply there to act as identifiers. The `rent` statistical values looks quite skewed, the average cost is about 4500 while the maximum is 20000, it may be beneficial to look at this information from a graphical stand point

## Null and Missing

From looking at the cells above, I can tell that this dataset has no missing values but just to display how to go about viewing any (assuming we had some), I will be using the appropriate functions to verify and act as a sanity check.

In [47]:
rental_df.isna()

,rental_id,building_id,rent,bedrooms,bathrooms,size_sqft,min_to_subway,floor,building_age_yrs,no_fee,has_roofdeck,has_washer_dryer,has_doorman,has_elevator,has_dishwasher,has_patio,has_gym,neighborhood,submarket,borough
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4997,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4998,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4999,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [48]:
rental_df.isnull()

,rental_id,building_id,rent,bedrooms,bathrooms,size_sqft,min_to_subway,floor,building_age_yrs,no_fee,has_roofdeck,has_washer_dryer,has_doorman,has_elevator,has_dishwasher,has_patio,has_gym,neighborhood,submarket,borough
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4997,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4998,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4999,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

`.isna()` and `.isnull()` are not particularly useful for the entire dataframe as we have 5000 values across 20 columns. A much easier way would be to use `.any()` and `.sum()`

In [49]:
rental_df.isna().any()

rental_id           False
building_id         False
rent                False
bedrooms            False
bathrooms           False
size_sqft           False
min_to_subway       False
floor               False
building_age_yrs    False
no_fee              False
has_roofdeck        False
has_washer_dryer    False
has_doorman         False
has_elevator        False
has_dishwasher      False
has_patio           False
has_gym             False
neighborhood        False
submarket           False
borough             False
dtype: bool

In [54]:
rental_df.isna().sum()

rental_id           0
building_id         0
rent                0
bedrooms            0
bathrooms           0
size_sqft           0
min_to_subway       0
floor               0
building_age_yrs    0
no_fee              0
has_roofdeck        0
has_washer_dryer    0
has_doorman         0
has_elevator        0
has_dishwasher      0
has_patio           0
has_gym             0
neighborhood        0
submarket           0
borough             0
dtype: int64

In [51]:
rental_df.isnull().sum()

rental_id           0
building_id         0
rent                0
bedrooms            0
bathrooms           0
size_sqft           0
min_to_subway       0
floor               0
building_age_yrs    0
no_fee              0
has_roofdeck        0
has_washer_dryer    0
has_doorman         0
has_elevator        0
has_dishwasher      0
has_patio           0
has_gym             0
neighborhood        0
submarket           0
borough             0
dtype: int64

In [55]:
rental_df.isnull().any()

rental_id           False
building_id         False
rent                False
bedrooms            False
bathrooms           False
size_sqft           False
min_to_subway       False
floor               False
building_age_yrs    False
no_fee              False
has_roofdeck        False
has_washer_dryer    False
has_doorman         False
has_elevator        False
has_dishwasher      False
has_patio           False
has_gym             False
neighborhood        False
submarket           False
borough             False
dtype: bool

As we can see there are no null values

In [57]:
# saving the df as it currently is as a csv to my local machine, this will be used in future nbs
rental_df.to_csv('new_rental')